@charset "utf-8";

html{
    /*background: rgb(215,202,178);*/
    background: linear-gradient(rgba(215,202,178,1) 15%, rgb(169, 157, 136) 30%);
    background-attachment:fixed;
    padding:0;
    font-family:'DM Sans',sans-serif;
    color: #FAF9F6;
    font-size:1em;
}

body{
    background:url(illustration-bg-1550.png);
    background-size: cover;
    min-height:120vh;
    margin:0;
    position:relative;
    padding-bottom:50vh;
}

*,*::after,*::before{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

ul{
    list-style-type:none;
    margin-bottom: 1vh;
}

a{
    color:#FAF9F6;
}

nav{
    padding-top:20px;
    padding-left:35px;
    width:100%;
}

main{
    margin-top:32vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    padding-left:30px;
}

h1{
    font-weight:bold;
    font-size: clamp(100px, 25vw, 125px);
}

h2{
    font-size: clamp(25px,2.25vh,100px);
}

li{
    font-size: clamp(20px,1.75vh,100px);
}

#subtitle{
    font-size: clamp(20px,5vh,50px);
}

#languages{
    margin-top:3vh;
    width:100%;
    text-align:center;
    font-size: clamp(20px,2vh,40px);
}

footer{
    width:100%;
    text-align:center;
    padding-bottom: 20px;
    position:absolute;
    bottom:0;
}

#contact-info{
    display:flex;
    justify-content: center;
}

#contact-info>li{
    margin: 0 1vw;
}

/*
@media screen and (orientation:landscape){
}*/