
@charset "utf-8";

/*Making all elements inherit border-box for sizing*/
html{
    box-sizing: border-box;
    font-size: 1rem;
    width:100%;
}

*,*.before,*.after{
    box-sizing: inherit;
}

/*Making all text have consistent font-family*/
*{
    font-family:'Roboto',Arial, Helvetica, sans-serif;
    color:#223030;
}

/*text-styling for headers*/
h1,h2,h3,h4{
    font-family: 'Bebas Neue','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform:uppercase;
    margin: .5em;
}

/*FIRST STYLING ELEMENTS CONSISTENT AMONGST ALL PAGES*/

h1{
    font-size:6vw;
    color:#efefe9;
    text-shadow:-2px 2px 0px #523d35
}

h2{
    font-size:2em;
}

/*styling body*/
body{
    margin: 0;
    width:100%;
    background-color: #bba58f;
}

nav{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
}

nav a{
    text-decoration-line: none;
    color: #efefe9;
}

nav a:hover{
    color: #523d35;
}

nav a:active{
    color: #223030;
}

#logo{
    background:#bba58f;
    padding:.25em;
    text-transform: uppercase;
    margin-left:0.5em;
    margin-right:auto;
}

#logo a{
    text-decoration-line: underline;
}

#menu-list{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    list-style-type: none;
    margin-left:0em;
    margin-top:0.75em;
    margin-bottom:.75em;
    flex-shrink: 0 0 15em;
}

nav ul li{
    background: #bba58f;
    margin:0em 1em;
    padding:.25em .5em;
    margin-left:1em;
    margin-right:1em;

}

footer{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:.5em;
}

footer *{
    color: #efefe9;
}

#contact-information{
    display: flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
    list-style-type: none;
    margin-left:0em;
    margin-top:0em;
    margin-bottom:0em;
    max-width: 48em;
}

#contact-information li{
    background: #bba58f;
    margin:0.25em 1em;
    padding:.25em .5em;
}

#copyright{
    width:100%;
    margin-top: 0.5em;
    padding-right:1em;
    text-align: end;
}

/*styling elements unique to home page*/

#home-body{
    background:#bba58f url(images/Home-bg.png);
    background-size:cover;
}

#home-main{
    height:78vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}

#home-message{
    margin-left:1em;
}

#home-message h1{

    font-size:8vw;
    display:inline;
    color:#efefe9;
    margin: 0em;
}

#message-subtitle{
    font-family: "Bebas Neue", Arial, Helvetica,sans-serif;
    margin:0em 0em .5em;
    text-transform:uppercase;
    font-size:3vw;
    color:#efefe9;
}


/*styling elements unique to anc. page 1 (about section)*/

#one-body{
    background: #bba58f url(images/SonnyAngel.png) fixed;
}

#one-main{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    /*background:red; test*/
    padding:1em;
}

#about-content{
    flex: 0 1 60em;
    margin:2em;
    padding:1em 2em;
    background-color: #efefe9;
    box-shadow: 0px -1px 1px #e8d9cd, 0px  1px 1px #e8d9cd;
    border-image-source: url(images/full_lace_border.png);
    border-image-slice: 90;
    border-image-width: 40px;
    border-image-repeat: repeat;
    border-image-outset: 30px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

#about-content section{
    flex: 0 1 30em;
}

/*styling elements unique to anc. page 2 (qualification)*/

#two-body{
    background: #bba58f;
}

#qualifications-banner{
    display:flex;
    align-items:flex-end;
    height:70vh;
    background: #bba58f url(images/SunMoonTileSized.png) fixed;
    filter:saturate(70%);
    border-top: solid .5px #523d35;
    border-bottom: solid .5px #523d35;
    box-shadow: 0px -1px 1px #523d35, 0px  1px 1px #523d35;
}

#qualifications-banner h1{
    margin-bottom: .25em;
}

#work-volunteer-experience{
    padding:.5em 0em 2em;
    margin-bottom: 2em;
}

#work-volunteer-experience h2{
    margin-left:1.5em;
}

#work-volunteer-experience > p{
    font-size:1.5em;
    margin-left:2em;
}

#experience-article-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-content:first baseline;
}

.experience-article{
    width:100%;
    max-width:20em;
    padding:1em;
    margin:1em;
}

.experience-article h3{
    font-size: 1.5em;
    margin-bottom:0em;
}

.exp-article-subtitle{
    margin-left:1em;
    font-size:1em;
    text-transform: uppercase;
    font-weight:bold;
    margin-top:0em;
}

hr{
    border-color:#223030;
}

#main-bottom-half{
    padding:2em .5em 1em;
    background: #523d35;
    box-shadow: 0px -1px 1px #523d35, 0px  1px 1px #523d35;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items: first baseline;
}

#education,#certifications,#honours,#skills{
    flex: 1 1 28em;
    background: #e8d9cd;
    border: solid #523d35;
    margin: 3em 2.5em;
    padding: 1.5em;
    box-shadow: 0px -1px 1px #e8d9cd, 0px  1px 1px #e8d9cd;
    border-image-source: url(images/full_lace_border.png);
    border-image-slice: 90;
    border-image-width: 40px;
    border-image-repeat: repeat;
    border-image-outset: 30px;
}

#main-bottom-half ul{
    list-style-type: square;
}

#main-bottom-half ul li{
    margin-top: .5em;
}

#skills-content{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-around;
}

#skills-content div{
    margin:1em 0em;
}

#add-skills{
    flex: 0 1 80%;
}


#certifications{
    background: #e8d9cd;
}

/*styling elements unique to anc. page 3 (projects)*/

.three-header-footer{
    background: #bba58f;
}

header[class="three-header-footer"]{
    border-bottom: solid 1px #523d35;
    box-shadow: 0px  1px 1px #523d35;
}

footer[class="three-header-footer"]{
    border-bottom: solid 1px #523d35;
    box-shadow: 0px -1px 1px #523d35;
}

#three-body{
    background: #bba58f url(images/CapyTile-200.png) round;
    /*background-attachment: fixed;*/
}

#project-h1-container{
    display:flex;
    align-items:flex-end;
    height:40vh;
}

.ind-project{
    background: #bba58f;
    border-top: solid 1px #523d35;
    border-bottom: solid 1px #523d35;
    box-shadow: 0px -1px 1px #523d35, 0px  1px 1px #523d35;
    margin: 0em 0 4em;

}

.proj-content{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
    padding-bottom:2em;
}

.proj-text{
    flex: 0 1 40em;
}

.proj-text p{
    margin: 2em;
}

.proj-content figure{
    /*background:blue;*/
}

#vis-text{
    flex: 0 1 30em;
}

.proj-content figcaption{
    margin-top:1em;
}

#three-end-comment{
    background: #bba58f;
    margin: 2em;
    padding: 1em 2em;
    border: solid 1px #523d35;
    box-shadow: 0px -1px 1px #523d35, 0px  1px 1px #523d35, 1px 0px 1px #523d35, -1px 0px 1px #523d35;

}

#three-end-comment p{
    color:#efefe9;
    font-size: 1.5em;
}

/*Styling error sheet*/

#error-body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#error-header{
    background:#523d35;
    width:100%;
}

#error-header h1{
    margin-bottom:0em;
    text-align:center;
}

#error-header p{
    width:20em;
    margin-left:auto;
    color: #efefe9;
}

#error-main{
    flex: 1 0 60vh;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#error-main ul{
    list-style: square;
}

#error-main li{
    margin: 1em 0em;
}

#error-footer{
    position:absolute;
    left: 0;
    bottom: 0;
    background:#523d35;
}

#error-footer li{
    background:none;
}