@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.moving-border {
  background: conic-gradient(
    from var(--gradient-angle),
    #081F5C,
    #334EAC,
    #7096D1,
    #D0E3FF,
    #7096D1,
    #334EAC,
    #081F5C
  );
  animation: rotation 5s linear infinite;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}